@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  padding: 60px 100px;
  margin: 0;
  background: #eee;
  background-image: linear-gradient(to right, #12c2e966, #c471ed6b, #f64f5a54);
  backdrop-filter: blur(8px);
  font-family: 'Montserrat', sans-serif;
}

.card {
  width: 300px;
  height: 480px;
  margin: 0 auto;
  position: relative;

  perspective: 1400px;
  left: 0;
  transition: all 1s;
}

.left-card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;

  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: 0 0;
}
.left-card img {
  width: 100%;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.card-back {
  background: #f4f4f4;
  transform: rotateY(180deg);
}

.card.open .left-card {
  transform: rotateY(-180deg);
}
.card.open {
  left: 150px;
}

.right-card {
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  padding: 30px;
  padding-top: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  color: #444;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.right-card h1 {
  background: -webkit-linear-gradient(left, #bc4e9c, #f80759);
  /* background: -webkit-linear-gradient(left, rgb(237, 166, 166), rgb(212, 112, 132), #ef1928); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  margin-bottom: 0.5rem;
  margin-top: 5.4rem;
  font-family: handWritingFont;
}
.right-card .just-some-emojis {
  margin-top: 0;
  font-size: 1.3rem;
}

/* Dusre ka code */
body {
  background-color: rgba(0, 181, 245, 0.05);
}
.social-container {
  width: 230px;
  margin: 10px auto 0;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.social-container > p {
  text-align: right;
}
.social-icons {
  padding: 0;
  list-style: none;
  margin: 0.2rem 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 7.3px;
  left: 7.3px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: ' ';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #36d1dc, #5b86e5);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  color: #36d1dc;
  background: -webkit-linear-gradient(45deg, #36d1dc, #5b86e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.animated-border-box,
.animated-border-box-glow {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 0;
  /* Border Radius */
}

.animated-border-box-glow {
  overflow: hidden;
  /* Glow Blur */
  filter: blur(30px);
}

.animated-border-box:before,
.animated-border-box-glow:before {
  content: '';
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  position: absolute;
  width: 99999px;
  height: 99999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  /*border color, change middle color*/
  background-image: conic-gradient(rgba(0, 0, 0, 0), #f80759, rgba(0, 0, 0, 0) 25%);
  /* change speed here */
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

/* For modal  */
.modal-window {
  position: fixed;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  border: none;
  border: 1px solid rgba(30, 19, 19, 0.2);
  margin: 20px 0;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: white;
  box-shadow: rgba(9, 30, 66, 0.31) 0px 0px 1px 0px, rgba(9, 30, 66, 0.25) 0px 1px 1px 0px;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}
/* Demo Styles */
.modal-window > div {
  border-radius: 1rem;
}
.logo {
  max-width: 150px;
  display: block;
}
small {
  color: rgb(26, 26, 26);
  font-weight: bold;
}
.btn {
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 0.5rem;
  text-decoration: none;
}
.btn i {
  padding-right: 0.3em;
}

@font-face {
  font-family: handWritingFont;
  src: url(tomatoes-font/Tomatoes-O8L8.ttf);
}

/* Textbox */
.input-field {
  position: relative;
}
.input-field input {
  width: 10rem;
  height: 60px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid #000;
  background: transparent;
  color: #000;
  outline: none;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #000;
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
}
input:focus {
  border: 2px solid #ffcc00;
}
input:focus ~ label,
input:valid ~ label {
  top: 0;
  left: 15px;
  font-size: 16px;
  padding: 0 2px;
  background: #fff;
}

button.btn {
  background-color: #ffcc00;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.btn.new-message {
  background: linear-gradient(45deg, #bc4e9dc6, #f80757c4);
  color: white;
  text-align: center;
}

/* a.btn.new-message {
  width: 10rem;
  font-size: small;
} */

.share-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: calc(30%);
  /* left: calc(15%); */
  left: calc(10%);
}

.main-content {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
}

#img {
  position: absolute;
}

.box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  height: 50px;
  margin: 50px auto;
  border: 2px solid #efefef;
  padding: 0 10px;
  border-radius: 4px;
}

.box button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 10px;
}

.box button:focus {
  outline: none;
}

.box button img {
  width: 25px;
}

@media screen and (max-width: 780px) {
  .card {
    width: 264px;
    height: 420px;
  }
  .main-content {
    font-size: 0.8rem;
  }
  .author-name {
    margin-bottom: 0;
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
  .share-card {
    left: calc(5%);
    bottom: calc(25%);
  }
  .social-icons {
    padding: 0 1.4rem 0 0;
  }
  .modal-window > div {
    margin: 0;
    width: 350px;
  }
  body {
    padding: 50px 100px;
  }
}

@media screen and (max-width: 450px) {
  .card {
    width: 190px;
    height: 304px;
  }
  body {
    padding: 50px 10px;
  }
  .card.open {
    left: 95px;
  }
  .right-card h1 {
    margin-top: 2.7rem;
    font-size: large;
  }
  .main-content {
    font-size: 0.69rem;
  }
  .social-container {
    width: 150px;
  }
  .author-name {
    font-size: 0.65rem;
  }
  .social-icons a:before {
    width: 21px;
    height: 21px;
  }
  .social-icons i {
    top: 3.3px;
    left: 3.3px;
  }
  .social-icons {
    padding: 0;
    margin-left: 1.1rem;
  }
  .share-card {
    left: calc(10%);
  }
  .btn {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 380px) {
  .card {
    width: 180px;
    height: 283px;
  }
  .modal-window > div {
    width: 290px;
  }
  textarea {
    width: 18em;
  }
  .card.open {
    left: 89px;
  }
  .main-content {
    font-size: 0.6rem;
  }
  .social-container {
    margin-right: 4rem;
  }
}

@media screen and (max-width: 330px) {
  .card {
    width: 150px;
    height: 240px;
  }
  .card.open {
    left: 75px;
  }
}
